{% block content %}

<h1> Send invoice </h1>

<form method="post">

  <label for="address"> To :</label>

  <select name="address" id="address">
    <option value="peppolID">Peppol ID</option>
    <option value="webID">Web ID</option>
    <option value="email">Email</option>
  </select>

  <label for="via"> Through:</label>

  <select name="via" id="via">
    <option value="webID">AS4 Direct</option>
    <option value="email">Peppol</option>
  </select>

    {% csrf_token %}
    {{ form.as_p}}
    <button class="btn btn-success">Send</button>

</form>


{% endblock content %}
